// primary styles 

$charcoal: #3a3a3a;
$blue: #0b02ff;
$orange: #E85E39;


$cobalt: #0020C2;





$red: #ed2124;
$white: #fff;
$black: #2e2e2e;
$lightGray: #929292;
$darkGray: #7a7a7a;
$grayText: #989898;
$teal: #1d5271;
$darkBlue: #143e57;
$veryDarkBlue: #252b35;
$lightGrayBlue: #f8f8f8;
$lightBlueText: #a7cde3;