
.form_wrap {
    position: absolute;
    bottom: 0;
    width: 85%;

    @include media($tablet){
        position: relative;
        width: 100%;
    }

    .front_page_contact {
        @include span-columns(12);
        margin-bottom: 0;

        .wpforms-field-container, form {
            @include span-columns(12);
        }

        .form_input_name, .form_input_email, .form_input_message {
            @include span-columns(12);

            input {
                @include span-columns(12);
                max-width: unset !important;
                background-color: transparent !important;
                border-top: none !important;
                border-left: none !important;
                border-right: none !important;
                border-bottom: 1px solid #fff !important;
                padding: 10px 10px 10px 24px !important;
                color: $white !important;
                margin-bottom: 20px !important;
            }
        }

        .form_input_name{
            position: relative;
            &:before {
                content: '';
                background: url('../images/icon-person.jpg') no-repeat;
                width: 20px;
                height: 20px;
                position: absolute;
                left: 0;
                top: 18px;
            }
        }

        .form_input_email {
            position: relative;
            &:before {
                content: '';
                background: url('../images/icon-envelope-blue.jpg') no-repeat;
                width: 20px;
                height: 20px;
                position: absolute;
                left: 0;
                top: 18px;
            }
        }

        .form_input_message {
            position: relative;
            &:before {
                content: '';
                background: url('../images/icon-message.jpg') no-repeat;
                width: 20px;
                height: 20px;
                position: absolute;
                left: 0;
                top: 19px;
            }
        }

        textarea {
            color: $white !important;
            background: transparent !important;
            border-top: none !important;
            border-left: none !important;
            border-right: none !important;
            border-bottom: 1px solid #fff !important;
            padding: 10px 10px 10px 24px !important;
            margin-bottom: 20px !important;
        }

        .front_page_submit {
            @include span-columns(12);
            background-color: transparent !important;
            color: $white !important;
            padding: 15px 0 !important;
            border-radius: 3px !important;
            -webkit-border-radius: 3px !important;
            -moz-border-radius: 3px !important;
            font-size: 16px  !important;
            text-transform: uppercase !important;
            border: 1px solid $white !important;
            text-align: center !important;

            @include media($tablet){
                padding: 12px 0 !important;
            }

            @include media($mobile){
                font-size: 14px !important;
                padding: 10px 0 !important;
            }

            @include media($smallMobile){
                padding: 8px 0 !important;
                font-size: 13px !important;
            }

            &:hover {
                color: $darkBlue !important;
                background: $white !important;
            }

        }

    }

    .wpforms-confirmation-container-full {
        margin-bottom: 0;

        p {
            color:$black !important;
            font-size: 16px !important;
        }
    }

    div.wpforms-container-full .wpforms-form label.wpforms-error {
        background: $white !important;
        padding: 0 10px !important;
    }

}