.about {
	@include span-columns(12);

	.top_section {
		@include span-columns(12);
		text-align: left;
		background: $white;
		padding-bottom: 60px;
		
		img {
			width: 50%;
			float: left;
			padding-right: 20px;
		}
		
		h2 {
			@include span-columns(12);
			text-align: center;
		}

		a {
			color: $red;
			font-size: 16px;
			font-family: 'Lato Bold', sans-serif;
			margin-left: 5px;

			&:hover {
				color: $black;
			}
		}
	}
	
	.middle_section {
		background: url('../images/about-background.jpg') no-repeat;
		background-size: cover;
		background-position: left;
		color: $white;
		padding: 70px 0;
		text-align: center;
		
		@include media($mobile){
			padding: 40px 0;
		}
		
		h2 {
			@include span-columns(12);
			color: $white;
			
			.underline {
				border-bottom-color: $white;
			}
		}
		
		.columns {
			@include media($mobile){
				display: inline-block;
				margin: 0 auto;
				width: auto;
				float: none;
				text-align: left;
			}
		}
		
		ul {
			display: inline-block;
			text-align: left;
			
			&:last-child {
				margin-left: 50px;
				
				@include media($mobile){
					display: block;
					margin-left: auto;
				}
			}
			
			li {
				padding-left: 30px;
				
				@include media($mobile){
					padding-left: 25px;
				}
				
				&:before {
					content: '';
					background: url('../images/check-mark.png') no-repeat;
					position: absolute;
					left: 0;
					width: 20px;
					height: 20px;
					
					@include media($mobile){
						background-size: 90%;
					}
				}
				
				p {
					font-size: 18px;
					
					@include media($mobile){
						font-size: 16px;
					}
				}
			}
		}
	}
	
	.bottom_section {
		padding: 60px 0;
		
		@include media($mobile){
			padding: 40px 0;
		}
	}
}