.about {
	@include span-columns(12);

	.top_section {
		@include span-columns(12);
		text-align: left;
		background: $white;
		padding-bottom: 60px;
		
		img {
			width: 50%;
			float: left;
			padding-right: 20px;
		}
		
		h2 {
			@include span-columns(12);
			text-align: center;
		}

		a {
			color: $red;
			font-size: 16px;
			font-family: 'Lato Bold', sans-serif;
			margin-left: 5px;

			&:hover {
				color: $black;
			}
		}
	}
	
	.bottom_section {
		padding: 60px 0;
		
		@include media($mobile){
			padding: 40px 0;
		}
	}
}