.contact {
	@include span-columns(12);
	text-align: center;
	padding-bottom: 40px;
	
	.top_section {
		@include span-columns(12);
		text-align: center;
		color: $white;
	}
	
	.form_wrap {
		color: $black;
		font-size: 18px;
	}
	
	#FSContact1 {
		max-width: none !important;
		width: 100%;
		float: left;
	}
	
	form {
		text-align: left;
		font-family: 'Lato Regular';
		
		input {
			max-width: none !important;
			background: #ebf0f3;
			height: 44px;
			border: none;
			margin-bottom: 20px;
			padding: 0 10px;
		}
		
		select {
			max-width: none !important;
			height: 44px;
			border: none;
			background: #ebf0f3;
			width: 100%;
			
			
			
		}
		
		textarea {
			max-width: none !important;
			height: 200px !important;
			border: none;
			background: #ebf0f3;
			width: 100% !important;
			padding: 10px;
		}
		
		img {
			width: auto;
		}
		
		#fscf_submit_div1 {
			text-align: center !important;
			width: 100%;
			
			input[type="submit"] {
				display: block;
				width: 100%;
				color: $red;
				padding: 10px 12px;
				border-radius: 3px;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				font-size: 16px;
				text-transform: uppercase;
				border: 1px solid $red;
				background: transparent;
				font-size: 16px;
				-webkit-transition: all .5s ease 0s;
				-moz-transition: all .5s ease 0s;
				-ms-transition: all .5s ease 0s;
				-o-transition: all .5s ease 0s;
									
				@include media($tablet){
					padding: 8px 26px;
				}
				
				@include media($mobile){
					font-size: 14px;
					padding: 6px 26px;
				}
				
				@include media($smallMobile){
					padding: 5px 22px;
					font-size: 13px;
				}

				
				
				
				&:hover {
					background: $red;
					color: $white;
				}
			}
		}
	}
	
	#fscf_div_field1_0 {
		clear: none !important;
		float: left;
		width: 45% !important;
		margin-right: 10% !important;
		margin-bottom: 20px;
		
		@include media($mobile){
			width: 100% !important;
			margin-right: 0 !important;
		}
	}
	
	#fscf_div_clear1_4 {
		clear: none !important;
		width: 45%;
		float: left;
		margin-right: 10%;
		margin-bottom: 20px;
		
		@include media($mobile){
			width: 100% !important;
			margin-right: 0 !important;
		}
	/*	
		&:after {
			content: '';
			background:url('../images/down-arrow.jpg') no-repeat;
			width: 20px;
			height: 20px;
			right: 0;
			position: absolute;
		}
	*/
	}
	
	#fscf_div_clear1_1 {
		clear: none !important;
		width: 45%;
		float: left;
		margin-bottom: 20px;
		
		@include media($mobile){
			width: 100% !important;
			margin-right: 0 !important;
		}
	}
	
	#fscf_div_clear1_5 {
		clear: none !important;
		width: 45%;
		float: left;
		margin-bottom: 20px;
		
		@include media($mobile){
			width: 100% !important;
			margin-right: 0 !important;
		}
		/*
		&:after {
			content: '';
			background:url('../images/down-arrow.jpg') no-repeat;
			width: 20px;
			height: 20px;
			right: 0;
			position: absolute;
		}
		
		*/
	}
	
	#fscf_div_field1_6 {
		max-width: none !important;
		
		
	}
	
}