.contact {
	@include span-columns(12);
	text-align: center;
	padding-bottom: 40px;
	
	.top_section {
		@include span-columns(12);
		text-align: center;
		color: $white;
	}
	
	.form_wrap_contact {
		color: $black;
		font-size: 18px;
	}
	
	form {
		text-align: left;
		font-family: 'Lato Regular';
		
		input {
			max-width: none !important;
			background: #ebf0f3;
			height: 44px;
			border: none;
			margin-bottom: 20px;
			padding: 0 10px;
		}
		
		select {
			max-width: none !important;
			height: 44px;
			border: none;
			background: #ebf0f3;
			width: 100%;
		}
		
		textarea {
			max-width: none !important;
			height: 200px !important;
			border: none;
			background: #ebf0f3;
			width: 100% !important;
			padding: 10px;
		}
		
		img {
			width: auto;
		}
		
		.wpforms-submit-container {
			text-align: center !important;
			width: 100%;

			.contact_form_submit {
				display: block;
				width: 100%;
				color: $red !important;
				padding: 10px 12px;
				border-radius: 3px;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				font-size: 16px;
				text-transform: uppercase;
				border: 1px solid $red !important;
				background-color: transparent !important;
				font-size: 16px;
				-webkit-transition: all .5s ease 0s;
				-moz-transition: all .5s ease 0s;
				-ms-transition: all .5s ease 0s;
				-o-transition: all .5s ease 0s;
									
				@include media($tablet){
					padding: 8px 26px;
				}
				
				@include media($mobile){
					font-size: 14px;
					padding: 6px 26px;
				}
				
				@include media($smallMobile){
					padding: 5px 22px;
					font-size: 13px;
				}

				&:hover {
					background: $red !important;
					color: $white !important;
				}
			}
		}
	}
}