.single_project {
	text-align: center;

	.description {
		padding: 0 20%;

		@include media($mobile) {
			padding: 0 20px;
		}

		h3 {
			font-family: 'Titillium SemiboldUpright', sans-serif;
			font-size:28px;
			line-height:1.2;
			margin-bottom: 10px;

			@include media($mobile) {
				font-size:24px;
			}
		}

		p {
			margin-bottom: 40px;

			@include media($mobile) {
				font-size: 14px;
			}
		}
	}

	.bottom_desc {
		background-color:$teal;
		color: $white;
		margin-top: 60px;
		padding: 30px 20%;

		h4 {
			margin:0;
		}

		a {
			color: $white;

			&:hover {
				color: $lightGrayBlue;
			}
		}
	}

	nav {
		@include span-columns(12);
		padding: 20px 0;

		.previous_links {
			float: left;
			text-align: left;

			.nav-previous.top {
				text-transform: uppercase;
				margin-bottom: 4px;
			}
		}

		.next_links {
			float:right;
			text-align: right;

			.nav-next.top {
				text-transform: uppercase;
				margin-bottom: 4px;
			}
		}

	}

	.project_images {

		article {
			background-color: $lightGrayBlue;
			padding: 20px 60px 60px;
			margin-bottom: 40px;
			border-radius: 6px;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;

			header {
				text-align: center;
				padding:0 10% 20px;
				line-height: 1.2;
				margin-bottom: 40px;
				border-bottom: 1px solid;
				border-color: rgba(155,155,155,.2);

				h3 {
					margin: 0 0 10px;
				}

				p {
					margin: 0;
				}
			}

			img {
				border-radius: 6px;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
			}
		}
	}

	.contact_section {
		background-color: $darkBlue;
		text-align: center;
		padding: 40px 0;

		header {
			margin-bottom: 40px;
			p {
				padding: 0 20%;
			}
		}

		h2 {
			color: $white;
			margin-bottom: 20px;
		}

		h4 {
			font-family: 'Lato Light', sans-serif;
			font-weight: lighter;
			color: $white;
			font-size: 26px;
			line-height: 1.2;
			margin: 20px 0;

			@include media($mobile){
				font-size: 20px;
			}
		}

		p {
			color: $lightBlueText;
			font-size: 14px;
		}

		.form_wrap {
			display:inline-block;
			position: relative;
			width: 65%;
			float:none;
			margin: 0 auto;
			border: 1px solid;
			padding: 40px;
			border-radius: 6px;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-color: rgba(255,255,255,.4);

			@include media($tablet){
				position: relative;
				width: 100%;
			}
		}
	}

	.nav-previous a, .nav-next a {
		color: #143e57;
		padding: 10px 0;
		font-size: 16px;

		&:hover {
			color: $red;
		}
	}
}